<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pi-hole Control Panel</title>
</head>
<body>
  <h1>Pi-hole Control Panel</h1>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul>
      {% for category, message in messages %}
        <li style="color: {{ 'green' if category == 'success' else 'red' }}">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <form method="POST" action="/pause">
    <button name="duration" value="">Pause Pi-Hole</button>
    <button name="duration" value="600">Pause Pi-Hole for 5 Minutes</button>
  </form>

  <form method="POST" action="/resume">
    <button >Resume Pi-Hole</button>
  </form>

  <form method="POST" action="/sync">
    <button>Run NebulaSync</button>
  </form>
</body>
</html>
